*.jpg
.env
*.JPG
*.png
*.jpeg
*.JPEG
links.txt
./thumbnails_cache/
*.txt
**/*.txt
02_tokio
docker-compose.custom.yml
felix
thumbnails_cache
*.mp4
*.MP4
*.mP4
*.Mp4
03_cairns
07_outback/
**/*.mov
**/*.MOV
videos
2025-05-02/
.nfs*
2025-06-14/
